@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
    text-decoration: none;
}

header {
    padding: 18px 0;
}

nav {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.logo a img {
    width: 40px;
}

.logo a h1 {
    color: rgb(245, 74, 44);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: 0.2s;
}

nav ul li a:hover {
    color: rgb(236, 86, 60);
}

@media (max-width: 768px) {
    .logo a img {
        width: 30px;
    }

    .logo a h1 {
        font-size: 18px;
    }

    nav ul {
        gap: 10px;
    }

    nav ul li a {
        padding: 8px;
    }
}

.product-container {
    width: 80%;
    margin: 60px auto 80px;
}

.product-container h1 {
    margin-bottom: 20px;
}

#product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
}

@media (max-width: 1200px) {
    #product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 992px) {
    #product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 768px) {
    #product-list {
        grid-template-columns: 1fr;
    }
}

.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    transition: 0.2s;
    text-align: center;
}

.product-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(0.0456);
}

.product-card img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    /* Center the image horizontally */
    margin-bottom: 10px;
    /* Add some space below the image */
}

.product-card h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-card p {
    margin: 0;
}

.product-card button {
    background-color: rgb(244, 93, 66);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.product-card button:hover {
    background-color: rgb(244, 109, 85);
}

.footer {
    background: #323232;
    color: #DADADA;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}

.footer-content {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 80px;
}

.footer-left,
.footer-center,
.footer-right {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

.footer-left li,
.footer-center li,
.footer-right li {
    list-style: none;
    font-size: 15px;
    line-height: 2rem;
    cursor: pointer;
}

.footer-center ul li a {
    color: #fff;
}

.footer-center h2,
.footer-right h2 {
    color: #fff;
}

.footer-left-logo {
    display: flex;
    align-items: center;
}

.footer-left p {
    font-size: 15px;
}

.footer-left-logo h1 {
    color: rgb(246, 65, 32);
}

.footer-left-logo img {
    width: 40px;
}

.social-icons img {
    margin-right: 20px;
    width: 40px;
    cursor: pointer;
}

hr {
    width: 100%;
    height: 2px;
    margin: 5px 0;
}

.footer-right ul li a {
    color: #fff;
}

@media (max-width:750px) {
    .footer-content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-copyright {
        text-align: center;
    }

}